.main {
	margin: 0 2%;
	padding: 9px;
}
.title {
	margin: 0 2%;
	padding: 9px;
  line-height: 0.2;
}
.nav {
	background-color: whitesmoke;
	padding: 9px;
	text-align: center;
	word-spacing: 1600%;
  line-height: 1.2;
}
.nav a {
	color: #7547d1;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 4px solid;
}
a {
	color: mediumpurple;
}
body {
	margin: 0;
	background-color: #282028;
	color: whitesmoke;
	font-family: sans-serif;
}
h1 {
	text-align:center;
}
h {
	text-align:center;
}
li:not(:last-child) {
    margin-bottom: 9px;
}
img { 
  display: block;
  border: 4px solid whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-right: auto;
  max-width: 800px;
}
video {
  display: block;
  border: 4px solid whitesmoke;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}